{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Call</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'css/call.css' %}">

  <style>
    [hidden] { display: none !important; }
  </style>
</head>
<body>

  <!-- HEADER -->
   <h3 class="call-title">
{% if role == "caller" %}
Calling {{ other_user.username }}...
{% else %}
{{ other_user.username }} is calling
{% endif %}
</h3>

<img class="call-avatar"
     src="{% if other_user.profile.profile_pic %}
            {{ other_user.profile.profile_pic.url }}
          {% else %}
            {% static 'images/default-avatar.png' %}
          {% endif %}"
     alt="avatar">

<div id="callTimer" class="call-timer">00:00</div>

<!-- VIDEO AREA -->
<div class="video-container">
  <video id="localVideo" autoplay muted playsinline></video>
  <div id="remoteContainer" class="remote-container"></div>
</div>

<!-- AUDIO OUTPUT -->
<audio id="remoteAudio" autoplay playsinline></audio>

<div id="callingStatus" class="calling-status">
  Calling...
</div>

<!-- ACTIVE CALL CONTROLS -->
<div class="call-controls">
  <button id="hangupBtn" class="hangup-btn">End Call</button>
</div>


  <!-- DATA -->
  <div id="chat-data"
       data-call-id="{{ call_id }}"
       data-role="{{ role }}"
       data-conv-id="{{ conv_id }}">
  </div>

<!-- SCRIPTS -->
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

<script src="{% static 'js/mediasoup-client.min.js' %}"></script>
<script src="/static/js/base.js"></script>
<script src="{% static 'js/call.js' %}"></script>


</body>
</html>