:root{
  --pink:#f3a9ff;
  --pink-strong:#f48be6;
  --bg:#824e4e;
  --card:#0f0f11;
  --muted:#cfc9d9;
}

*{
  box-sizing:border-box;
}

body{
  margin:0;
  background:var(--bg);
  color:#fff;
  font-family:Inter, Arial, sans-serif;
  background:linear-gradient(180deg,#a79292,#60609a);
}

/* Top Header */
.topband{
  background:var(--pink);
  padding:35px 20px;
  text-align:center;
  font-size:28px;
  font-weight:800;
  letter-spacing:2px;
  color:#a24b4b;
  font-family: "Times New Roman", Times, serif;
}
/* Layout */
.container{
  max-width:1000px;
  margin:30px auto;
  padding:20px;
  display:grid;
  grid-template-columns:1fr 420px;
  gap:40px;
}

/* Left Area */
.hero h2{
  margin-top:20px;
  font-size:38px;
  font-weight:700;
  color:var(--muted);
}

.hero p{
  margin:5px 0 10px 0;
  color:#bdb6c9;
}

.small{
  font-size:13px;
  color:#bfb2cf;
}

.brand-visual{
  width:100%;
  height:220px;
  background:#afa5a5;
  border:3px solid rgba(140, 106, 145, 0.3);
  border-radius:8px;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

.brand-visual img{
  width:100%;
  height:auto;
}

/* Login Card */
.card{
  background:rgba(118, 108, 108, 0.03);
  border:2px solid rgba(243,169,255,0.12);
  padding:25px;
  border-radius:10px;
}

.card h3{
  margin-top:0;
}

.form-group{
  display:flex;
  flex-direction:column;
  margin-bottom:12px;
}

label{
  font-size:14px;
  color:var(--muted);
}

input[type="text"], input[type="password"]{
  padding:10px;
  border-radius:4px;
  border:2px solid rgba(243,169,255,0.15);
  background:rgba(255,255,255,0.05);
  color:#fff;
  font-size:15px;
}

input:focus{
  border-color:var(--pink-strong);
  outline:none;
}

.btn{
  width:100%;
  padding:12px;
  background:linear-gradient(90deg,var(--pink-strong),var(--pink));
  border:none;
  border-radius:6px;
  font-weight:700;
  cursor:pointer;
  color:#000;
  margin-top:5px;
}

.muted-line{
  margin-top:15px;
  font-size:14px;
  color:#c8bfd2;
}

.link{
  color:var(--pink);
  text-decoration:underline;
}

/* Responsive */
@media(max-width:900px){
  .container{
    grid-template-columns:1fr;
  }
}

@media(max-width:500px){
  .topband{
    font-size:22px;
    padding:20px;
  }
}
